.userPage .title h1 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px;
}

.dinning_history,
.diet_preference {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diet_preference {
  cursor: pointer;
  background: #16a085;
}

.dinning_history {
  cursor: pointer;
  background: #e67e22;
}

.userOption h1 {
  padding-left: 5px;
  color: #fff;
}

.userOption img {
  width: 200px;
  height: 150px;
}

.userOption {
  padding-top: 100px;
}
