.user_setting .title h1 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px;
}

.dining_history,
.diet_preference {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diet_preference {
  background: #16a085;
}

.dining_history {
  background: #e67e22;
}

.userOptions h1 {
  padding-left: 5px;
  color: #fff;
}

.userOptions img {
  width: 200px;
  height: 150px;
}
